<div class="quickstart">
    <div class="container">
      <div class="row">
        <div class="span-one-third">
       <h7><a class="projects" href="/projects">Community</a></h7>
          <p>Organizations and individuals can now express their
          technological needs with one another.</p>
        </div>  
        <div class="span-one-third">
         <h7><a class="Developers" href="/projects">Developers</a></h7>
          <p>Find projects to support or upload applications you've made
          using open data.</p>
        </div>
        <div class="span-one-third">
         <h7><a class="OpenData" href="/data">Open Data</a></h7>
          <p>Browse through open data already usable and accessible through
          an API.</p>
        </div>
    </div>
  </div>
</div>
