<div class="quickstart">
    <div class="container">
      <div class="row">

        <a class="projects" href="/projects"><div class="span-one-third">
          <h6>Community</h6>
          <p>Organizations and individuals can now express their
          technological needs with one another.</p>
        </div></a>

        <a class="developers" href="/projects"><div class="span-one-third">
          <h6>Developers</h6>
          <p>Find projects to support or upload applications you've made
          using open data.</p>
        </div></a>

        <a class="opendata" href="/data"><div class="span-one-third">
          <h6>Open Data</h6>
          <p>Browse through open data already usable and accessible through
          an API.</p>
        </div></a>

    </div>
  </div>
</div>
