<div class="quickstart">
    <div class="container">
      <div class="row">
        <div class="span-one-third">
          <h6>Community</h6>
          <p>Organizations and individuals can now express their
          technological needs with one another.</p>
        </div>  
        <div class="span-one-third">
          <h6>Developers</h6>
          <p>Find projects to support or upload applications you've made
          using open data.</p>
        </div>
        <div class="span-one-third">
          <h6>Open Data</h6>
          <p>Browse through open data already usable and accessible through
          an API.</p>
        </div>
    </div>
  </div>
</div>
