# ---------------------
# Django
# ---------------------
django
django-registration


# ---------------------
# Testing
# ---------------------
mock
coverage
django-test-coverage


# ---------------------
# Database
# ---------------------
south


# ---------------------
# Utilities
# ---------------------
markdown
