# ---------------------
# Django
# ---------------------
django
django-registration
django-autoslug
django-debug-toolbar
django-cache-machine


# ---------------------
# Testing
# ---------------------
mock
coverage
django-test-coverage


# ---------------------
# Image Manipulation
# ---------------------
sorl-thumbnail
PIL


# ---------------------
# Database
# ---------------------
south


# ---------------------
# Utilities
# ---------------------
markdown
