/* Functions and mixins via Twitter's LESS CSS files. */

.border-radius(@radius: 5px) {
  -webkit-border-radius: @radius;
     -moz-border-radius: @radius;
          border-radius: @radius;
}

.box-shadow(@shadow: 0 1px 3px rgba(0,0,0,.25)) {
  -webkit-box-shadow: @shadow;
     -moz-box-shadow: @shadow;
          box-shadow: @shadow;
}

.default_background_gradient{
    background-color: rgba(0, 0, 0, 0.15);
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.15)));
    background-image: -moz-linear-gradient(transparent, rgba(0, 0, 0, 0.15));
    background-image: -ms-linear-gradient(transparent, rgba(0, 0, 0, 0.15));
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, transparent), color-stop(100%, rgba(0, 0, 0, 0.15)));
    background-image: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.15));
    background-image: -o-linear-gradient(transparent, rgba(0, 0, 0, 0.15));
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='transparent', endColorstr='rgba(0, 0, 0, 0.15)', GradientType=0)";
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.15));
}

#gradient{
    .vertical (@startColor: #555, @endColor: #333) {
        background-color: @endColor;
        background-repeat: repeat-x;
        background-image: -khtml-gradient(linear, left top, left bottom, from(@startColor), to(@endColor)); // Konqueror
        background-image: -moz-linear-gradient(top, @startColor, @endColor); // FF 3.6+
        background-image: -ms-linear-gradient(top, @startColor, @endColor); // IE10
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, @startColor), color-stop(100%, @endColor)); // Safari 4+, Chrome 2+
        background-image: -webkit-linear-gradient(top, @startColor, @endColor); // Safari 5.1+, Chrome 10+
        background-image: -o-linear-gradient(top, @startColor, @endColor); // Opera 11.10
        background-image: linear-gradient(top, @startColor, @endColor); // The standard
        filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",@startColor,@endColor)); // IE9 and down
    }
}


/* Override some defaults */

.btn.yellow-warning{
    color: #404040;
    .default_background_gradient;
    background-color: #FFD75A;
    margin-bottom: 18px;
    padding: 8px 15px;
    color: white;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    &:hover{
        background-position-y: 15px;
    }
}

.btn.yellow{
    background-color: #ffd305;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, left bottom, from(#ffd305), to(#ffc100));
    background-image: -moz-linear-gradient(top, #ffd305, #ffc100);
    background-image: -ms-linear-gradient(top, #ffd305, #ffc100);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffd305), color-stop(100%, #ffc100));
    background-image: -webkit-linear-gradient(top, #ffd305, #ffc100);
    background-image: -o-linear-gradient(top, #ffd305, #ffc100);
    background-image: linear-gradient(top, #ffd305, #ffc100);
    text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.25);
    border-color: #ffd305 #ffd305 #a19a00;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    &:hover{
        background-position-y: 15px;
    }
}

.quickstart {
    h6, p{
        font-family: Georgia, "Times New Roman", Times, serif;
        font-style: italic;
    }
}

.hero-unit{
    h1, p{
        text-shadow: 0 1px 1px rgba(255, 255, 255, 0.8);
    }
    .btn{
        text-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
    }
}

footer{
    strong{
        color: #999;
    }
}


/* Let the styling begin... */

.menu-dropdown .sign-in{
    display: inline-block;
}

.sign-in{
     form{
        fieldset{
            margin-bottom: 10px;
            padding: 0 5px;
        }
        input{
            width: 90%;
        }
        label{
            color: #fff;
            padding-left: 5px;
            text-align: left;
        }
        #username, #password{
            margin: 0 0 10px;
        }
        .btn{
            color: #404040;
            float: right;
            margin-top: 10px;
            padding: 7px;
            width: 40%;
        }
        #sign-in-btn:hover{
            background: #eee;
            #gradient > .vertical(#eee, #fff);
        }
    }
}

#search-bar{
    position: relative;
    span{
        cursor: pointer;
        position: absolute;
        right: 0;
        a{
            background: url(/static/img/search.png) no-repeat center 60%;
            display: block;
            height: 26px;
            text-indent: -999em;
            width: 26px;
        }
    }
    input{
        width: 84%;
        padding-right: 26px;
    }
}

.city{
    background: url(/static/img/header.png) #111 no-repeat 44% 35%;
    @shadow: 0 1px 3px rgba(0,0,0,.25), inset 0 -1px 0 rgba(0,0,0,.1);
    .box-shadow(@shadow);
    border-bottom: 1px solid #111;
    margin: 40px 0 60px;
    .home{
        display: block;
        margin-top: 1px;
        margin-left: -37px;
        padding: 30px 10px 31px;
        text-indent: -999em;
        width: 250px;
    }
    .nav{
        float: right;
        a{
            color: #fff;
            font-family: 'Oswald', sans-serif;
            padding-top: 50px;
            text-align: center;
            text-transform: uppercase;
        }
        .projects{
            background: url(/static/img/navigation/projects.png) no-repeat center 20%;
            &:hover{
                background: url(/static/img/navigation/projectsglow.png) no-repeat center 20%;
            }
        }
        .apps{
            background: url(/static/img/navigation/apps.png) no-repeat center 20%;
            &:hover{
                background: url(/static/img/navigation/appsglow.png) no-repeat center 20%;
            }
        }
        .data{
            background: url(/static/img/navigation/data.png) no-repeat center 20%;
            &:hover{
                background: url(/static/img/navigation/dataglow.png) no-repeat center 20%;
            }
        }
    }
}

.whitespace{
    margin-top: 75px;
}

.data-header{
    margin-top: 15px;
    background: url(/static/img/documents.png) #eee no-repeat right top;
    @shadow: 0 1px 3px rgba(0,0,0,.25), inset 0 -1px 0 rgba(0,0,0,.1);
    .box-shadow(@shadow);
    a{
        margin-top: 20px;
    }
}

.slide_container{
    background: url(/static/img/featuredarrow.png) no-repeat 9% 0%;
    .span5{
        background: url(/static/img/featuredarrow_repeat.png) #ddd repeat-x 0 0;
        .border-radius;
        h2 a{
            color: #fff;
            font-family: 'Oswald', sans-serif;
            text-transform: uppercase;
            display: block;
            padding: 26px 0;
            text-align: center;
            text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
            &:hover{
              text-decoration: none; 
            }
        }
    }
}

.slider{
    height: 250px;
    overflow: hidden;
    div{
        display: block;
        height: 250px;
    }
}

footer{
    #gradient > .vertical(#333, #222);
    @shadow: 0 1px 3px rgba(0,0,0,.25), inset 0 -1px 0 rgba(0,0,0,.1);
    .box-shadow(@shadow);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    border-top: 1px solid #222;
    margin-top: 0;
    min-height: 150px;
    padding: 25px 0;
    .container{
    }
    strong{
        line-height: inherit;
    }
    .category{
        display: block;
        padding: 8px;
    }
    a{
        color: #eee;
        display: block;
        margin: 5px 0;
        padding: 5px;
        width: 70%;
        &:hover{
            background: #777;
            color: #eee;
            text-decoration: none;
        }
    }
    .unstyled{
        margin-left: 35%;
    }
}


/* CSS for list of projects */
.project-list{
    margin-bottom: 75px;
    .individual{
        border: 3px solid #eee;
        .border-radius;
        @shadow: 0 1px 5px rgba(0,0,0,.25), inset 0 -1px 0 rgba(0,0,0,.1);
        .box-shadow(@shadow);
    }
    .thumbnail{
        background: url(/static/img/placeholder.png) no-repeat center center;
        background-size: 180px;
        display: block;
        margin: 20px auto;
        height: 150px;
    }
    .description{
        padding: 0 20px;
    }
}
