a,a:active,a:visited{color:#6b1bdf;}
a:hover{background:#6b1bdf;color:white;text-decoration:none;}
::-moz-selection{background:#6b1bdf;color:#fff;text-shadow:none;}
::selection{background:#6b1bdf;color:#fff;text-shadow:none;}
body{color:#444;}
header,#main,footer{margin:0 auto;width:90%;}
header{display:block;margin-bottom:25px;}header ul{border-bottom:1px solid #eee;list-style:none;margin:0 auto;padding:10px 0;}
header li{float:right;padding-top:24px;}
header li.float_left{float:left;padding-top:10px;}header li.float_left a{background:url('/static/img/yourlogo.png') no-repeat center center;height:41px;width:315px;}
header a{display:block;font-size:16px;padding:10px 12px;width:100px;text-align:center;text-decoration:none;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;}
header a,header a:visited{color:#444;}
header a:hover{background:#fff;color:#444;text-decoration:none;}
.no-js header a:hover{background:#6b1bdf;color:white;}
.screencast{margin:100px 0 125px;}
.description{float:left;max-width:29%;}.description p{font-size:16px;line-height:1.5;margin:90px 0 0;padding:0 5%;text-align:justify;}
.content{float:right;min-width:65%;}.content h2{font-size:28px;margin-bottom:35px;}
.super_logo{margin:0 auto;height:75px;width:75px;}
footer{display:block;margin:100px auto 50px;}footer a.super_logo{background:url('/static/img/super_z.png') no-repeat center center;}
footer a.super_logo:hover{background:url('/static/img/super_z_color.png') no-repeat center center;}
footer:after{content:url('/static/img/super_z_color.png');display:none;}
