@color: #6b1bdf;
@width: 100%;

/* Link Color and Styles */
a, a:active, a:visited { color: @color; }
a:hover { background: @color; color: white; text-decoration: none; }


/* Custom highlight */
::-moz-selection{ background:@color; color:#fff; text-shadow: none; }
::selection { background:@color; color:#fff; text-shadow: none; }

.round_corners (@radius: 5px) {
  border-radius: @radius;
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
}

body{
    color: #444;
}

header, #main, footer{
  margin: 0 auto;
  width: @width;
}

header{
    background: #666;
    display:block;
    margin-bottom: 25px;
    ul{
        border-bottom:1px solid #eee;
        list-style: none;
        margin:0 auto;
        padding:10px 0;
    }
    li{
        float: right;
        padding-top: 24px;
    }
    li.float_left{
        float:left;
    }
    li.city_name{
        padding-top: 10px;
        a{
          background: url('http://dummyimage.com/300x50') no-repeat center center;
          height: 50px;
          width: 350px;
        }
    }
    form{
        width: 200px;
        input{
            background: url('/static/img/search.png') #fff no-repeat right center;
            border: 1px solid #888;
            padding: 5px;
            width: 100%;
        }
    }
    .sign_in{
        margin: 0 25px;
        span{
            color: #bbb;
            font-size: 16px;
        }
        a{
            color: #fff;
            font-size: 24px;
            padding: 0 20px;
            text-decoration: none;
        }
    }
}

footer{
    display: block;
    margin: 100px auto 50px;
}

/* Just a little image preloading. */
footer:after{
    content: url('/static/img/super_z_color.png');
    display: none;
}
