a,a:active,a:visited{color:#6b1bdf;}
a:hover{background:#6b1bdf;color:white;text-decoration:none;}
::-moz-selection{background:#6b1bdf;color:#fff;text-shadow:none;}
::selection{background:#6b1bdf;color:#fff;text-shadow:none;}
body{color:#444;}
header,#main,footer{margin:0 auto;width:90%;}
header{display:block;margin-bottom:25px;}header ul{list-style:none;margin:0 auto;padding:10px 0;}
header li{float:right;padding-top:24px;}
header li.float_left{float:left;}
header li.city_name{padding-top:10px;}header li.city_name a{background:url('http://dummyimage.com/200x100/ddd&text=logo') no-repeat center center;height:100px;width:200px;}
header form{font-size:18px;}header form input{background:url('/static/img/search.png') #ffffff no-repeat 95% center;border:1px solid #ddd;padding:7px;width:275px;}
header .sign_in{margin:0 25px;}header .sign_in span{color:#bbb;font-size:16px;}
header .sign_in a{color:#fff;font-size:24px;padding:0 20px;text-decoration:none;}
.home .top{margin:50px 0;}
.home .left{float:left;width:48%;}.home .left a{background:#ddd;height:300px;}
.home .right{float:right;width:48%;}.home .right a{background:#ddd;height:300px;}
footer{display:block;margin:100px auto 50px;}
