/* Change the global JavaScript `ns.color` attribute, too. */
@pink: #d5246b;
@blue: #1e65a0;
@light_blue: #6f9cc2;
@width: 90%;

/* Link Color and Styles */
a, a:active, a:visited { color: @pink; }
a:hover { background: @pink; color: white; text-decoration: none; }

/* Custom highlight */
::-moz-selection{ background:@pink; color:#fff; text-shadow: none; }
::selection { background:@pink; color:#fff; text-shadow: none; }

/* Simple function for rounded corners. */
.round_corners (@radius: 3px) {
  border-radius: @radius;
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
}

/* Easier function for adding box-shadow settings. */
.box_shadow(@arguments) {
    -webkit-box-shadow: @arguments;
    -moz-box-shadow: @arguments;
    box-shadow: @arguments;
}

/* These styles help offset the formalize settings. */
.offset_formalize{
    font-family: 'Cabin', sans-serif;
    box-sizing: initial;
    -moz-box-sizing: initial;
    -webkit-box-sizing: initial;
    .round_corners;
}

/* Don't like the default UL styling from HTML5 Boilerplate */
ul{
    margin: 0;
    padding: 0;
    li{
        list-style: none;
    }
}


body{
    color: #444;
    min-width: 800px;
}

header ul, #main{
    margin: 0 auto;
    width: @width;
}
#main{
    margin-top: 50px;
}

.ribbon{
    background: @blue;
    height: 5px;
    .box_shadow(inset 0 0 5px rgba(0, 0, 0, .25));
}

header{
    background: #222;
    display:block;
    .box_shadow(inset 0 0 10px rgba(0, 0, 0, .5));
    ul{
        list-style: none;
        margin:0 auto;
        padding:0 0 15px;
    }
    li{
        float: right;
        padding-top: 24px;
    }
    li.float_left{
        float:left;
    }
    li.city_name{
        padding-top: 10px;
        a{
          background: url('http://dummyimage.com/250x75/333/fff') no-repeat center center;
          height: 75px;
          width: 250px;
        }
    }
    .search_form{
        font-size: 18px;
        margin-top: 6px;
        input{
            float: left;
            .round_corners;
        }
        .search_bar{
            border: 1px solid #222;
            color: inherit;
            height: 20px;
            padding: 7px;
            width: 275px;
            .offset_formalize;
            .box_shadow(0 0 5px rgba(0, 0, 0, .5));
        }
        .search_bar:focus{
            border: 1px solid @pink;
            outline: none;
            .box_shadow(0 0 20px @pink);
        }
        .submit{
            background: url('/static/img/search.png') @pink no-repeat center center;
            border: 1px solid #222;
            height: 20px;
            margin-left: 5px;
            padding: 7px;
            text-indent: -999em;
            width: 75px;
            .offset_formalize;
            .box_shadow(0 0 5px rgba(0, 0, 0, .5));
        }
        .submit:hover{
            background-color: darken(@pink, 3%);
        }
    }
    .login{
        display: block;
        font-size: 16px;
        margin-top: 8px;
        min-width: 200px;
        position: relative;
        width: 15%;
        .login_button{
            color: white;
            display: block;
            float: right;
            padding: 7px;
            text-align: center;
            text-decoration: none;
            width: 150px;
            .round_corners;
        }
        .login_button:hover, .login_form_open{
            background-color: #333;
        }
        .login_form{
            background: #333;
            display: none;
            padding: 20px 15px 15px;
            position: absolute;
            right: 0;
            top: 50px;
            z-index: 100;
            .round_corners;
        }
        label{
            color: #fff;
            display: block;
            font-size: 12px;
            margin: 5px 0 0;
            padding: 3px 0;
            text-transform: uppercase;
        }
        label.password{
            margin: 15px 0 0;
        }
        .login_submit{
            display: block;
            margin: 15px 0 0;
        }
    }
    .gravatar{
        margin-top: 4px;
    }
    .register{
        font-size: 12px;
    }
}

/* Helper function for navigation hover */
.navigation_hover(@image){
    background: url(@image) @blue no-repeat center center;
    text-indent: -999em;
}

nav{
    background: url('/static/img/gradient_bg.png') @light_blue;
    display: block;
    .topnav{
        border-bottom: 1px solid #658eb1;
        margin: 0 auto;
        width: 90%;
    }
    .topnav li{
        float: left;
        margin: 0 auto;
        position: relative;
        width: 20%;
    }
    .links{
        font-family: 'Cabin', sans-serif;
        color: white;
        display: block;
        font-size: 18px;
        margin: 0 auto;
        padding: 10px;
        text-align: center;
        text-decoration: none;
    }
    .last{
        border-right: none;
    }
    .links:hover{
        background-color: @blue;
    }
    .home:hover{
        .navigation_hover('/static/img/navigation/home.png');
    }
    .community:hover{
        .navigation_hover('/static/img/navigation/community.png');
    }
    .apps:hover{
        .navigation_hover('/static/img/navigation/apps.png');
    }
    .projects:hover{
        .navigation_hover('/static/img/navigation/projects.png');
    }
    .data:hover{
        .navigation_hover('/static/img/navigation/data.png');
    }
    .still_hovering{
        background-color: @blue;
    }
    .subnav{
        background-color: #fff;
        border-top: 1px solid #658eb1;
        display: none;
        left: 0;
        position: absolute;
        width: 100%;
        z-index: 100;
        .box_shadow(0 2px 1px rgba(0, 0, 0, .75));
        li{
            clear: both;
            width: 100%;
            a{
                border-bottom: 1px solid #e0e0e0;
                color: #444;
                display: block;
                font-size: 16px;
                padding: 12px;
                text-decoration: none;
            }
            a:hover{
                background-color: #fff;
                color: @blue;
            }
        }
    }
}

footer{
    font-family: 'Cabin', sans-serif;
    background: #ddd;
    display: block;
    margin: 100px auto 0;
    padding: 50px 0 25px;
    .box_shadow(inset 0 0 5px rgba(0, 0, 0, .25));
    .logos{
        margin: 75px auto 0;
        width: 330px;
        a{
            float: left;
            margin: 0 auto;
            padding: 0 25px;
            width: 115px;
        }
        .cfa_logo{
            background: url('/static/img/cfa_logo.png') no-repeat 0 8px;
            height: 50px;
        }
        .cfa_logo:hover{
            background-position-y: -45px;
        }
        .new_urban{
            background: url('/static/img/new_urban.png') no-repeat 0 5px;
            height: 50px;
        }
        .new_urban:hover{
            background-position-y: -48px;
        }
    }
}

.site_map{
    color: #555;
    margin: 0 auto 50px;
    width: 50%;
    ul{
        float: left;
        list-style: none;
        margin: 0 auto;
        padding: 0 5%;
        width: 23%;
    }
    li{
        padding: 2px 0;
    }
    strong{
        display: block;
        padding: 5px;
        text-transform: uppercase;
    }
    a{
        color: #777;
        display: block;
        padding: 5px;
        text-decoration: none;
        width: 100%;
    }
    a:hover{
        color: #fff;
    }
    .left a{
        font-family: 'Cabin', sans-serif;
        font-weight: bold;
    }
}

/* Styling for home page */
.home{
    .headline{
        background: #ddd;
        height: 350px;
        .round_corners;
    }
    .recent{
        width: 100%;
        .apps, .projects, .community{
            float: left;
            width: 33%;
        }
        h3, a{
            font-family: 'Cabin', sans-serif;
            font-style: bold;
            display: block;
            padding: 7px;
        }
        h3{
            font-family: 'Cabin', sans-serif;
            background: @blue;
            margin: 0 auto;
            text-align: center;
        }
        ul{
            color: #fff;
            margin: 0 auto;
            width: 75%;
        }
    }
}

/* Styles for featured project */
.featured_container{
    margin-bottom: 125px;
}
.featured_project{
    font-family: 'Cabin', sans-serif;
    margin: 50px 0;
    h2{
        background: @pink;
        color: #fff;
        display: block;
        margin-bottom: 25px;
        padding: 10px;
        text-align: center;
    }
    iframe{
        background: #444;
        float: left;
        margin-right: 40px;
    }
    .name a{
        color: @blue;
        font-size: 28px;
        text-decoration: none;
    }
    .name a:hover{
        background: @blue;
        color: #fff;
    }
}

.community{
    .members{
        background: #ddd;
        height: 200px;
        .left_arrow, .right_arrow{
            background: #444;
            height: 200px;
            width: 50px;
        }
        .left_arrow{
            float: left;
        }
        .right_arrow{
            float: right;
        }
    }
    .gravatar_opacity{
        opacity: 0.75;
    }
    .gravatar_opacity:hover{
        opacity: 1;
    }
    .list{
        margin: 50px auto;
    }
    .top, .recent{
        background: #ddd;
        height: 400px;
        width: 49%
    }
    .top{
        float: left;
    }
    .recent{
        float: right;
    }
}

/* Styling for resource names */
.resource_container{
    .name a{
        color: @blue;
        font-size: 28px;
        text-decoration: none;
    }
    .name a:hover{
        background: @blue;
        color: #fff;
    }
    .content{
        border-top: 1px dotted #ddd;
        padding-top: 25px;
    }
    img{
        float: left;
        width: 200px;
    }
    .description{
        float: left;
        margin-left: 75px;
    }
}

/* Styling for registration/resource forms */
.basic_label_styling {
    display: block;
    font-size: 12px;
    padding: 5px 0;
    text-transform: uppercase;
}

.resource_form{
    label{
        .basic_label_styling;
    }
}

.registration_form{
    label{
        .basic_label_styling;
    }
}

/* Overwrite some of the existing jQuery UI CSS */
.ui-corner-all{ .round_corners; }
.ui-menu-item a{ color: #333; }
.ui-widget { font-family: sans-serif; }
.ui-tooltip{
    padding: 8px;
    position: absolute;
    width: 200px;
}
