{% extends "base.html" %}

{% block main %}

{% include "breadcrumb.html" %}

<div class="container">
  <div class="row">

    <div class="span12">
      <div class="individual_resource">
        {% if resource.embed_url %}
        <iframe src="{{ resource.embed_url }}" class="youtube-player"
                height="385" width="640" frameborder="0"></iframe>
        {% endif %}
        <div class="content">
            <p class="name"><a href="/{{ path }}/{{ resource.slug }}">{{ resource.name }}</a></p>
            <p class="organization">{{ resource.organization }}</p>
            <p class="description">{{ resource.description }}</p>
        </div>
      </div>
    </div>

    <a href="/edit/{{ resource_type }}/{{ resource.slug }}" class="btn">Edit</a>
  </div>
</div>
{% endblock %}
