{% extends "base.html" %}

{% block main %}

{% include "breadcrumb.html" %}

<div class="container">
    <div class="row">

        <div class="span12 individual_resource">
            {% if resource.embed_url %}
            <iframe src="{{ resource.embed_url }}" class="youtube-player"
                    height="385" width="640" frameborder="0"></iframe>
            {% endif %}
            <div class="content">
                <p class="name"><a href="/{{ path }}/{{ resource.slug }}">{{ resource.name }}</a></p>
                <p class="organization">{{ resource.organization }}</p>
                <p class="description">{{ resource.description }}</p>
                <ul class="breadcrumb tags">
                {% for tag in resource.tags.all %}
                  <li>{{ tag.name }}</li>
                  <span class="divider">/</span>
                {% endfor %}
                </ul>
            </div>
            <div class="support">
                {% include "support/support_form.html" %}
            </div>
            <div class="supporters">
                {% load gravatar %}
                {% for supporter in supporters %}
                    {% gravatar_img_for_user supporter.user %}
                {% endfor %}
            </div>
        </div>

    </div>
</div>
{% endblock %}
