{% extends "base.html" %}

{% block main %}

{% include "breadcrumb.html" %}

<div class="container">
    <div class="row">

        <div class="span12 individual_resource">
            <h1 class="name"><a href="/{{ path }}/{{ resource.slug }}">{{ resource.name }}</a></h1>
            {% if resource.embed_url %}
            <iframe src="{{ resource.embed_url }}" class="youtube-player"
                    height="385" width="640" frameborder="0"></iframe>
            {% endif %}
            <div class="content">
              <section>
                <p>
                  <strong>Description</strong>
                </p>
                <p class="description">{{ resource.description }}</p>
              </section>
              <section>
                <p>
                  <strong>Organization</strong>
                </p>
                <p class="organization">{{ resource.organization }}</p>
              </section>
              <section>
                  <ul class="breadcrumb tags">
                  {% for tag in resource.tags.all %}
                  <li>
                    <a href="/search?q={{ tag.name|urlencode }}" class="tag">{{ tag.name }}</a>
                  </li>
                    <span class="divider">/</span>
                  {% endfor %}
                  </ul>
              </section>
            </div>
        </div>

        <div class="span4">
          <div class="support">
              {% include "support/support_form.html" %}
              <a href="/edit/project/{{ resource.slug }}" class="btn large edit">Edit</a>
          </div>
          <div class="supporters">
              {% load gravatar %}
              {% for supporter in supporters %}
                <div class="individual_supporter">
                  {% gravatar_img_for_user supporter.user %}
                </div>
              {% endfor %}
          </div>
        </div>

    </div>
</div>
{% endblock %}
