{% extends "base.html" %}


{% block main %}

<div class="container">
    <div class="row whitespace">

        <div class="span4 offset1">
            <h1>About</h1>
        </div>

        <div class="span10">
        <p>Sometimes we have a great idea but we don’t have the skills or resources on hand to make it a reality -- there’s that app that we really want but just can’t build. But too often there are actually developers in the community willing to help out; it’s just too hard to connect with them. Build:Boston aims to change that. It’s in part an app catalog, in part an ideation platform, and in part a project management tool, but at its core, it is a network of community-members and developers -- connecting those with a concept (anyone) with those who have the know-how to turn concept into a creation (developer). The platform not only enables collaboration and project development, but also features completed apps, built in Boston for Boston.</p>
        </div>

    </div>
</div>
{% endblock %}
