<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="no-js ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">

  <title>{% block title %}Open Data {{ settings.CITY_NAME }}{% endblock %}</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Default width should be 1100px -->
  <meta name="viewport" content="width=1100">
  <link rel="alternate" title="RSS" type="application/rss+xml" href="/feed">


  <!-- CSS: implied media="all" -->
  <link rel="stylesheet" href="/static/css/style.css">
  <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/themes/smoothness/jquery-ui.css"
        rel="stylesheet">
  {% block library_css %}{% endblock %}
  <link rel="stylesheet" href="/static/css/main.css">
  {% block css %}{% endblock %}

<!-- All JavaScript at the bottom, except for Modernizr and Respond.
     Modernizr enables HTML5 elements & feature detects;
     Respond is a polyfill for min/max-width CSS3 Media Queries.
     For optimal performance, use a custom Modernizr build: www.modernizr.com/download/ -->
  <script src="/static/js/libs/modernizr-2.0.6.js"></script>
  <script src="/static/js/libs/respond.min.js"></script>

</head>

<body>
  <div class="ribbon"></div>
  <div id="container">

    {% block header %}
    <header>
    <ul class="clearfix">
        <li class="float_left city_name">
            <a href="/" class="ir">{{ settings.CITY_NAME }} Data Catalog</a>
        </li>
        <li class="search">
          <form autocomplete="off" action="/search" method="GET"
                class="clearfix">
            <input type="text" name="q" class="search_bar"
                   autocomplete="off" tabindex=1 />
            <input type="submit" class="submit" value="Submit" name="" />
          </form>
        </li>
    </ul>
    </header>

    <nav>
        <ul class="top clearfix">
            <li>
                <a class="links" href="{% url data_catalog.views.community %}">Community</a>
            </li>
            <li>
                <a class="links" href="{% url data_catalog.views.projects %}">Projects</a>
                <ul class="subnav">
                    <li>
                    <a href="{% url data_catalog.views.projects %}">Browse Projects</a>
                    </li>
                    <li>
                    <a href="{% url data_catalog.views.projects %}">Post Your Project</a>
                    </li>
                </ul>
            </li>
            <li>
                <a class="links" href="{% url data_catalog.views.apps %}">Apps</a>
                <ul class="subnav">
                    <li>
                        <a href="{% url data_catalog.views.apps %}">Browse Apps</a>
                    </li>
                    <li>
                        <a href="{% url data_catalog.views.apps %}">Submit Your App</a>
                    </li>
                </ul>
            </li>
            <li>
                <a class="links" href="http://datacouch.com">Data</a>
                <ul class="subnav">
                    <li>
                        <a href="{% url data_catalog.views.data %}">Browse Data</a>
                    </li>
                    <li>
                        <a href="{% url data_catalog.views.data %}">Request Data</a>
                    </li>
                    <li>
                        <a href="{% url data_catalog.views.data %}">Submit Data</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
    {% endblock %}

    <div id="main" role="main">
      {% block main %}{% endblock %}
    </div>

    <footer>
      <div class="site_map clearfix">
          <ul class="left">
              <li>
                  <a href="{% url data_catalog.views.home %}">Home</a>
              </li>
              <li>
                  <a href="{% url data_catalog.views.community %}">Community</a>
              </li>
              <li>
                  <a href="{% url data_catalog.views.projects %}">Projects</a>
              </li>
              <li>
                  <a href="{% url data_catalog.views.apps %}">Apps</a>
              </li>
              <li>
              <a href="http://datacouch.com">Data</a>
              </li>
          </ul>
          <ul class="center">
              <li>
                  <strong>Data Categories</strong>
              </li>
              <li>
                  <a href="#">Lorem</a>
              </li>
              <li>
                  <a href="#">Ipsum</a>
              </li>
              <li>
                  <a href="#">Lorem</a>
              </li>
              <li>
                  <a href="#">Ipsum</a>
              </li>
              <li>
                  <a href="#">Lorem</a>
              </li>
          </ul>
          <ul class="right">
              <li>
                  <strong>Info</strong>
              </li>
              <li>
                  <a href="#">Lorem</a>
              </li>
              <li>
                  <a href="#">Ipsum</a>
              </li>
              <li>
                  <a href="#">Lorem</a>
              </li>
              <li>
                  <a href="#">Ipsum</a>
              </li>
              <li>
                  <a href="#">Lorem</a>
              </li>
          </ul>
      </div>
      <div class="logos clearfix">
          <a href="http://newurbanmechanics.org" class="new_urban ir">New Urban Mechanics</a>
          <a href="http://codeforamerica.org" class="cfa_logo ir">Code for America</a>
      </div>
    </footer>
  </div> <!--! end of #container -->

  <!-- JavaScript at the bottom for fast page loading -->

  <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if necessary -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="/static/js/libs/jquery-1.6.2.min.js">\x3C/script>')</script>
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" type="text/javascript"
          charset="utf-8"></script>

  {% block library_js %}{% endblock %}
  <script src="/static/js/main.js" type="text/javascript" charset="utf-8"></script>
  {% block js %}{% endblock %}


  <!--[if lt IE 7 ]>
    <script src="/static/js/libs/dd_belatedpng.js"></script>
    <script>DD_belatedPNG.fix('img, .png_bg'); // Fix any <img> or .png_bg bg-images. Also, please read goo.gl/mZiyb </script>
  <![endif]-->


  <!-- mathiasbynens.be/notes/async-analytics-snippet Change UA-XXXXX-X to be your site's ID -->
  <script>
    var _gaq=[['_setAccount','UA-XXXXXXXX-X'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>


  <!-- Prompt IE 6 users to install Chrome Frame. Remove this if you want to support IE 6.
       chromium.org/developers/how-tos/chrome-frame-getting-started -->
  <!--[if lt IE 7 ]>
    <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
    <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
  <![endif]-->

</body>
</html>
