{% extends "base.html" %}

{% block library_css %}
<link href="/static/css/skins/tango/skin.css" rel="stylesheet" />
{% endblock %}

{% block library_js %}
<script src="/static/js/libs/jquery.jcarousel.min.js" type="text/javascript"></script>
{% endblock %}

{% block main %}
<div class="community">
    <ul id="mycarousel" class="gravatars jcarousel-skin-tango">
        {% load gravatar %}
        {% for member in community %}
        <li><a href="#" class="gravatar_opacity">{% gravatar_img_for_user member %}</a></li>
        {% endfor %}
    </ul>
    <div class="list clearfix">
        <div class="top"></div>
        <div class="recent"></div>
    </div>
</div>
<div class="featured_container">
  {% include "featured_project.html" %}
</div>
{% endblock %}
