{% extends "base.html" %}


{% block main %}
<div class="container">
    <div class="row">
      <div class="span8 offset4 whitespace faq">

       <p>Build:Boston connects community members and software developers to
       strengthen their communities by developing new apps using open, civic
       data.</p>

       <p>How it works, Build:Boston is divided into three main categories,
       projects (solutions that are still being worked on), applications
       (existing technological solutions) and data. In projects, organizations
       and individuals can share their technological needs with one another. By
       proposing a project, developers and all other constituents can find
       projects to support and help build or share applications. Sharing of
       applications that have already been built using data, that is hosted on
       this or other sites. Lastly the data catalog is a place where cities can
       showcase and list data accessible through an API.</p>

       <p>Our core functionality is to connect people with resources by
       allowing users to submit technicals needs and making connections within
       the community.</p>

       <p>Projects are a great way to engage the public to create submissions,
       increase awareness about a product or services provided by cites, and
       encourage citizen engagement. A project can take many forms. For
       example, the government can challenge the public to: develop an app or
       graphic, improve a product or process, solve a problem previously
       thought unsolvable.</p>

       <p>By having a place where all locally built apps are stored we can
       prevent replicas of projects. Build:Boston is also a place to search for
       existing solutions, why reinvent the wheel you might not be the only
       person with this problem. Perhaps that same problem has already been
       addressed through an awesome locally built web app and we’d like to
       share it! Sharing the software you’re building is the best way to ensure
       that quality remains high and that others can benefit from and
       contribute to it. This application also serves as a stepping stone to
       the civic commons where smaller cities can begin to catalog and showcase
       the work of local developers.</p>

      </div>
    </div>
</div>
{% endblock %}
