<div class="span3 filters">

  {% if path == "app" %}
    <a href="/submit/app" class="btn yellow">Submit Your App &rarr;</a>
  {% endif %}
  {% if path == "project" %}
    <a href="/submit/project" class="btn yellow">Submit A Project</a>
  {% else %}
    <a href="http://datacouch.com" class="btn yellow">Request Data</a>
  {% endif %}
    <hr />
    <ul class="unstyled">
        <li>
          <a href="#">Featured</a>
        </li>
        <li>
          <a href="#">Popular</a>
        </li>
        <li>
          <a href="#">Recent</a>
        </li>

        <hr />

        <li>
          <strong>Categories</strong>
        </li>
        <li>
          <a href="#">Food</a>
        </li>
        <li>
          <a href="#">General Geography</a>
        </li>
        <li>
          <a href="#">Neighborhood Quality</a>
        </li>
        <li>
          <a href="#">Public Safety</a>
        </li>
        <li>
          <a href="#">Youth / Education</a>
        </li>
    </ul>
</div>
