<div class="span3 filters">
    <ul class="unstyled">
        <li>
          <a href="#">Featured</a>
        </li>
        <li>
          <a href="#">Popular</a>
        </li>
        <li>
          <a href="#">Recent</a>
        </li>
        <li>
          <a href="submit/project">Post A Project</a>
        </li>

        <hr />

        <li>
          <strong>Categories</strong>
        </li>
        <li>
          <a href="#">Food</a>
        </li>
        <li>
          <a href="#">General Geography</a>
        </li>
        <li>
          <a href="#">Neighborhood Quality</a>
        </li>
        <li>
          <a href="#">Public Safety</a>
        </li>
        <li>
          <a href="#">Youth / Education</a>
        </li>
    </ul>
</div>
