<div class="container">
  <div class="row">
    <div class="span-one-third">
      <ul class="unstyled">
        <li>
          <strong><a href="/">Home</a></strong>
        </li>
        <li>
        <strong><a href="{% url data_catalog.views.projects %}">Projects</a></strong>
        </li>
        <li>
          <strong><a href="{% url data_catalog.views.apps %}">Apps</a></strong>
        </li>
        <li>
          <strong><a href="{% url data_catalog.views.data %}">Data</a></strong>
        </li>
      </ul>
    </div>

    <div class="span-one-third">
      <ul class="unstyled">
        <li>
          <strong class="category">Data Categories</strong>
        </li>
        <li>
          <a href="#">General Geography</a>
        </li>
        <li>
          <a href="#">Neighborhood Quality</a>
        </li>
        <li>
          <a href="#">Food</a>
        </li>
        <li>
          <a href="#">Public Safety</a>
        </li>
        <li>
          <a href="#">Youth / Education</a>
        </li>
      </ul>
    </div>

    <div class="span-one-third">
      <ul class="unstyled">
        <li>
          <strong class="category">Info</strong>
        </li>
        <li>
          <a href="#">About</a>
        </li>
        <li>
          <a href="#">Contact</a>
        </li>
        <li>
          <a href="#">FAQ</a>
        </li>
        <li>
          <a href="/login/">Login</a>
        </li>
        <li>
          <a href="/register/">Register</a>
        </li>
        <li>
          <a href="#">RSS</a>
        </li>
      </ul>
    </div>
  </div>
</div>
