{% extends "base.html" %}

{% block js %}
{% endblock %}


{% block main %}
<div class="home">
  <div class="top clearfix">
    <div class="left">
      <a class="ir" href="#">Browse Solutions</a>
    </div>
    <div class="right">
      <a class="ir" href="#">Find Opportunities</a>
    </div>
  </div>
  <div class="bottom clearfix">
    <div class="left">
      <a class="ir" href="#">Post Opportunities</a>
    </div>
    <div class="right">
      <a class="ir" href="#">Browse Data</a>
    </div>
  </div>
</div>
{% endblock %}
