{% extends "base.html" %}

{% block library_js %}
<script src="/static/js/jquery.ui.tooltip.js" type="text/javascript" charset="utf-8"></script>
{% endblock %}


{% block main %}
<div class="home">
  <div class="top clearfix">
    <div class="left">
      <a class="ir" href="#" title="Browse Solutions">Browse Solutions</a>
    </div>
    <div class="right">
      <a class="ir" href="#" title="Find Opportunities">Find Opportunities</a>
    </div>
  </div>
  <div class="bottom clearfix">
    <div class="left">
      <a class="ir" href="#" title="Post Opportunities">Post Opportunities</a>
    </div>
    <div class="right">
      <a class="ir" href="#" title="Browse Data">Browse Data</a>
    </div>
  </div>
</div>
{% endblock %}
