{% extends "base.html" %}


{% block main %}

<div class="quickstart">
    <div class="container">
      <div class="row">
        <div class="span-one-third">
          <h6>Community</h6>
          <p>Organizations and individuals can now express their
          technological needs with one another.</p>
        </div>  
        <div class="span-one-third">
          <h6>Developers</h6>
          <p>Find projects to support or upload applications you've made
          using open data.</p>
        </div>
        <div class="span-one-third">
          <h6>Open Data</h6>
          <p>Browse through open data already usable and accessible through
          an API.</p>
        </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="hero-unit data-header whitespace">
    <h1>Let's build.</h1>
    <p>Submit your ideas for a better Boston.</p>
    <a href="#" class="btn yellow large">Share your idea &rarr;</a>
  </div>

  <div class="content whitespace">
    <div class="row slide_container">
      <div class="span5">
        <h2><a href="#" class="controls">Propose a Project</a></h2>
        <h2><a href="#" class="controls">Lend a Hand</a></h2>
        <h2><a href="#" class="controls">Browse</a></h2>
      </div>
      <div class="span10 offset1">
        <div class="slider">
          <div>
            <h3>Projects built in Boston &mdash; for Boston.</h3>
            <p>Linking community members and software developers to strengthen Boston. Dataworks is a place where the public and government can solve problems together. Have a specific project you’d like some help with? You’ve come the the right place, here you can propose a project!</p>
            <p>This is pre-alpha software! Datacouch is still being built and tested. How it works decide what problems lend themselves to projects developing content, share you story and post the project, and get involed in other projects.</p>
          </div>
          <div>
            <h3>Lend your skillset</h3>
            <p>This is a data platform where we can put ideas, data, and applications together while allowing people to collaborate and create in a communal online space.Projects are a great way to engage the public to create submissions, increase awareness about a product or program, and encourage participation. A project can take many forms. For example, the government can challenge the public to: develop an app or graphic, improve a product or process, solve a problem previously thought unsolvable</p>
          </div>
          <div>
            <h3>Search for existing solutions</h3>
            <p>Why reinvent the wheel, you might not be the only person wit this problem. Perhaps that same problem has already been addressed through an awesome locally built web app and we’d like to share it! Sharing the software you’re building is the best way to ensure that quality remains high and that other can benefit from and contribute to it.</p>
            <p>If you have a potentially shareable application in development or production, let us know. If it’s not already released, we can help you develop plans to share it. If it’s already available, we can help publicize it by adding it to the Commons.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

{% endblock %}
