<div class="container resource-list">
    <div class="row">
        <div class="resources">
            {% for resource in resources %}
            <div class="individual span4">
                <a href="/{{ path }}/{{ resource.slug }}" class="thumbnail" alt="Project Name"></a>
                <div class="description">
                  <strong><a href="/{{ path }}/{{ resource.slug }}">{{ resource.name }}</a></strong>
                  <p class="user"><small>Max Ogden</small></p>
                  <p>{{ resource.description }}</p>
                </div>
                <hr />
                <div class="stats"></div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
