{% include "breadcrumb.html" %}

<div class="container resource-list">
    <div class="row">
        {% if layout != "list-view" %}
        <div class="resources">

            {% for resource in resources.object_list %}
            <div class="individual span4">
              <a href="/{{ path }}/{{ resource.slug }}" alt="Project Name">
                {% if resource.image %}
                <img class="actual-thumbnail" src="/media/{{ resource.image }}"
                     alt="A thumbnail picture of {{ resource.name }}" />
                {% else %}
                <div class="thumbnail"></div>
                {% endif %}
              </a>
                <div class="description">
                  <p class="name">
                    <a href="/{{ path }}/{{ resource.slug }}">{{ resource.name }}</a>
                  </p>
                  <p class="user"><small>Max Ogden</small></p>
                  <p class="snippet">{{ resource.description|truncatewords:15 }}</p>
                </div>
                <hr />
                <div class="stats"></div>
            </div>
            {% endfor %}

        </div>

        {% else %}
        <div class="list-view">

          {% for resource in resources.object_list %}
          <div class="span12 individual {% cycle 'plain' 'zebra-striped' %}">
            <a href="/{{ path }}/{{ resource.slug }}">
              <div class="placeholder"></div>
            </a>
            <div class="description">
              <p>
                <a href="/{{ path }}/{{ resource.slug }}">{{ resource.name }}</a>
              </p>
              <ul class="breadcrumb tags">
              {% for tag in resource.tags.all %}
              <li>
                <a href="/search?q={{ tag.name|urlencode }}" class="tag">{{ tag.name }}</a>
              </li>
                <span class="divider">/</span>
              {% endfor %}
              </ul>
            </div>
            <a href="/{{ path }}/{{ resource.slug }}"
               class="btn float-right"> Details </a>
          </div>
          {% endfor %}

        </div>
        {% endif %}

        {% include "filters.html" %}

    </div>
</div>
