{% include "breadcrumb.html" %}

<div class="container resource-list">
    <div class="row">
        <div class="resources">

            {% for resource in resources %}
            <div class="individual span4">
              <a href="/{{ path }}/{{ resource.slug }}" alt="Project Name">
                {% if resource.image %}
                <img class="actual-thumbnail" src="/media/{{ resource.image }}"
                     alt="A thumbnail picture of {{ resource.name }}" />
                {% else %}
                <div class="thumbnail"></div>
                {% endif %}
              </a>
                <div class="description">
                  <strong><a href="/{{ path }}/{{ resource.slug }}">{{ resource.name }}</a></strong>
                  <p class="user"><small>Max Ogden</small></p>
                  <p class="snippet">{{ resource.description|truncatewords:15 }}</p>
                </div>
                <hr />
                <div class="stats"></div>
            </div>
            {% endfor %}

        </div>
        <!-- End of resources -->

        {% include "filters.html" %}

    </div>
</div>
