{% extends "base.html" %}

{% block main %}
<div class="container project-list">
    <div class="row">

        <div>
            <div class="individual span4">
                <a href="#" class="thumbnail" alt="Project Name"></a>
                <div class="description">
                  <strong><a href="#">Cat Mapper</a></strong>
                  <p class="user"><small>Max Ogden</small></p>
                  <p>The path of the righteous man is beset on all sides by the iniquities of the selfish and the tyranny of evil men...</p>
                </div>
                <hr />
                <div class="stats">
                </div>
            </div>
            <div class="individual span4">
                <a href="#" class="thumbnail" alt="Project Name"></a>
                <div class="description">
                  <strong><a href="#">Iconathons</a></strong>
                  <p class="user"><small>Karla Macedo</small></p>
                  <p>The path of the righteous man is beset on all sides by the iniquities of the selfish and the tyranny of evil men...</p>
                </div>
                <hr />
                <div class="stats">
                </div>
            </div>
            <div class="individual span4">
                <a href="#" class="thumbnail" alt="Project Name"></a>
                <div class="description">
                  <strong><a href="#">Lorem Ipsum</a></strong>
                  <p class="user"><small>Zach Williams</small></p>
                  <p>The path of the righteous man is beset on all sides by the iniquities of the selfish and the tyranny of evil men...</p>
                </div>
                <hr />
                <div class="stats">
                </div>
            </div>
        </div>
        <div>
            <div class="individual span4">
                <a href="#" class="thumbnail" alt="Project Name"></a>
                <div class="description">
                  <strong><a href="#">Cat Mapper</a></strong>
                  <p class="user"><small>Max Ogden</small></p>
                  <p>The path of the righteous man is beset on all sides by the iniquities of the selfish and the tyranny of evil men...</p>
                </div>
                <hr />
                <div class="stats">
                </div>
            </div>
            <div class="individual span4">
                <a href="#" class="thumbnail" alt="Project Name"></a>
                <div class="description">
                  <strong><a href="#">Iconathons</a></strong>
                  <p class="user"><small>Karla Macedo</small></p>
                  <p>The path of the righteous man is beset on all sides by the iniquities of the selfish and the tyranny of evil men...</p>
                </div>
                <hr />
                <div class="stats">
                </div>
            </div>
            <div class="individual span4">
                <a href="#" class="thumbnail" alt="Project Name"></a>
                <div class="description">
                  <strong><a href="#">Lorem Ipsum</a></strong>
                  <p class="user"><small>Zach Williams</small></p>
                  <p>The path of the righteous man is beset on all sides by the iniquities of the selfish and the tyranny of evil men...</p>
                </div>
                <hr />
                <div class="stats">
                </div>
            </div>
        </div>

        <div class="span3 filters">
            <ul class="unstyled">
                <li>
                  <a href="">Lipsum</a>
                </li>
                <li>
                  <a href="">Lipsum</a>
                </li>
                <li>
                  <a href="">Lipsum</a>
                </li>
                <hr />
                <li>
                  <a href="">Lipsum</a>
                </li>
                <li>
                  <a href="">Lipsum</a>
                </li>
                <li>
                  <a href="">Lipsum</a>
                </li>
                <li>
                  <a href="">Lipsum</a>
                </li>
                <li>
                  <a href="">Lipsum</a>
                </li>
            </ul>
        </div>

    </div>
</div>
{% endblock %}
